body {
  font-family: Kohinoor, Helvetica, sans-serif;
  background: linear-gradient(#00000055, #00000055), url(images/GoiDio.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 5px;
}
header{
  /*margin: 5px;*/
  text-align: center;
  padding-top: 25px;
  background: linear-gradient(to left, #00000033, #00000000), url("images/poster.jpg");
  /*background-image: url(images/poster.jpg);*/
  background-position: center;
  background-repeat: repeat;
  background-size: 125%;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0px 5px 10px 2px rgb(238 255 0 / 30%);
  cursor: default;
  /*height: 250px;*/
  /*position: relative;*/
  
}
h1{
  font-size: 500%;
  font-family: Parrish, Helvetica, sans-serif;
  color: #eee;
  text-shadow: 4px 4px #000;
  /*display: none;*/
  margin: 10px;
}
header>p{
  font-family: Goudy;
  color: #dce2d5;
  font-size: 200%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: 1px 1px #000;
}
nav{
  position: relative;
  width: 100%;
  /*background-color: #ffffff22;*/
}
nav>a{
  color: white;
  /*font-family: sans-serif;*/
  /*text-transform: uppercase;*/
  display: inline-block;
  /*font-size: 120%;*/
  background-image: url(images/HammerHead.png);
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
  font-weight: bold;
  /*background: #0286c5;*/
  margin: 25px 2% 15px;
  padding: 30px;
  /*padding-left: 10px;*/
  width: 12%;
  border-radius: 5px;
  text-decoration: none;
  transition:  0.5s;
  text-align: left;
  text-shadow: 2px 2px #000;
}
nav>a:hover,nav>a:focus{
  /*color: black;*/
  width: 15%;
  padding-left: 40px;
  font-size: 20px;
  margin: 0px 2%;
  /*background:#00adff;*/
}
nav>a>span{
  padding-left: 10px;
  /*width: 15%;*/
}
/** {text-align: center;}*/

main{
    margin: 50px -5px;
    text-align: center;
    cursor: default;
}
article{
  width: 30%;
  height: 50%;
  border: 2px solid #39c1c8;
  margin: 20px 10px;
  display: inline-block;
  background-color: #00b5be;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #45aab2;
  background: linear-gradient(#00000000, #00000000), url(images/menu.png);
  background-position: center;
  /*background-size: 160%;*/
  transition: 0.5s;
}
article:hover{
  background: linear-gradient(#ffffff11, #ffffff11), url(images/Menu.png);
}

article>div{
  margin-top: 15px;
}
article>div>embed{
  height: 220px;
  width: 90%;
  border: 2px solid black;
  border-radius: 10px;
}
article>h2>a{
  display: block;
  font-family: DIN2014;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 150%;
  color: black;
  transition: 0.5s, color 0.3s;
  margin: 25px;
  margin-bottom: 15px;
}
article>h2>a:hover,article>h2>a:focus{
  text-decoration: underline;
  color: white;
}
article:hover>h2>a{
  font-size: 160%;
  margin: 21px;
}
article>p{
  font-size: 120%;
  cursor: default;
}
article>p>span{
  color: white;
  text-shadow: 1px 1px #000;

}

@font-face{
  font-family: Parrish;
  src: url('fonts/Parrish.ttf');
  font-weight: bold;
}
@font-face{
  font-family: Goudy;
  src: url('fonts/Goudy Old Style ITALIC.ttf');
}
@font-face{
  font-family: Kohinoor;
  src: url('fonts/Kohinoor.ttf');
  /*font-weight: bold;*/
}
@font-face{
  font-family: DIN2014;
  src: url('fonts/DIN2014.ttf');
  /*font-weight: 1000px;*/
}
